 <div class="d-none d-xl-block">
     <div class="">
         <div class="card border-dark">
             <div class="card-body text-center">

                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=1">Aries
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=2">Taurus
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=3">Gemini
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=4">Cancer
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=5">Leo
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=6">Virgo
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=7">Libra
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=8">Scorpio
                         Horoscope</a></p>
                 <p><a href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=9">Sagittarius
                         Horoscope</a></p>
                 <p><a
                         href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=10">Capricorn
                         Horoscope</a></p>
                 <p><a
                         href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=11">Aquarius
                         Horoscope</a></p>
                 <p><a
                         href="https://www.horoscope.com/us/horoscopes/general/horoscope-general-daily-today.aspx?sign=12">Pices
                         Horoscope</a></p>
             </div>
         </div>
     </div>
 </div>